<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

    <input type="text" v-model:value="newUser">
    <button @click="addUser" v-if="!buttonEditStatus">add</button>
    <button v-if="buttonEditStatus" @click="update">Update</button>

    <ul v-for="(user, index) in reverseUser">
        <li :key="index">
            <p> {{user.name}} 
                <button @click="edit(index)">edit</button>
                <button @click="delete(index)">delete</button>
            </p>
        </li>
    </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                newUser: "",
                // index = 0,
                users: [
                    {'name' : 'Muhammad Iqbal Mubarok'},
                    {'name' : 'Ruby Purwanti'},
                    {'name' : 'Faqih Muhammad'},
                ],
                buttonEditStatus: false,
                idSelected: null
            },
            computed: {
                reverseUser: {
                    get: function(){
                        return this.users.slice().reverse()
                    },
                    set: function(value){
                        this.users = value.slice().reverse()
                    }
                }
                
            },
            methods: {
                addUser: function() {
                    this.users.push({'name' : this.newUser})
                    this.newUser = ""
                },
                edit: function(id) {
                    this.newUser = this.reverseUser[id].name
                    this.buttonEditStatus = true
                    this.idSelected = id
                },
                update: function() {
                    this.reverseUser[this.idSelected].name = this.newUser
                    this.newUser = ""
                    this.buttonEditStatus = false
                },
                delete: function(id) {
                    let confirmation = confirm("Apakah anda yakin akan menghapus?")
                    if(confirmation){
                        this.reverseUser = this.reverseUser.filter(function(item, index){
                            return index != id
                        })
                    }
                    // this.users.splice(this.users)
                }
            }
        })

    </script>
</body>
</html>