<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

    <div id="app">
        <form>
            <input type="text" v-model:value="search">
        </form>

        <ul>
            <li v-for="book in searchBooks">
                <p> {{book}}</p>
            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                    search: null,
                    books: [
                        'Kalkulus Dasar',
                        'Fisika Dasar',
                        'Aljabar Linear Elementer', 
                        'Aljabar Abstrak',
                        'Algoritma Pemrograman'
                    ]
                
            },
            computed: {
                searchBooks() {
                    if(this.search){
                        return this.books.filter((huruf) => {
                            return this.search.toLowerCase().split(' ').every(v => huruf.toLowerCase().include(v))
                        })
                    }
                    else {
                        return this.books
                    }
                    // this.books = this.books.match(/this.search/g)
                    // this.search = ''
                }
            }
        })

    </script>
</body>
</html>